.bot-half-container .alertContainer
{
    display: inline-block;
    margin:5px;
    /* width:; */
}
.bot-half-container .testBtn
{ 
    display: inline-block;
    text-overflow: clip;
    overflow: hidden;
    width:130px;
    /* width:100px; */
}

.dropdown-container .dropdown-btn{
    border:3px solid grey;
    border-radius: 3px;
    padding:5px;
    width:180px;
    /* margin:5px; */
    cursor: pointer;
    transition: 0.3s ease;
}
.dropdown-container .dropdown-btn:hover{
background-color: grey;
color:white
}

.dropdown-container .dropdown-content.closed{
    border:0px;
    padding:0px;
    height:0px;
    overflow: hidden;
    transition: 0.3s ease;
}
.dropdown-container .dropdown-content{
    border:3px solid grey;
    border-radius: 3px;
    padding:5px;
    width:180px;
    height:50px;
    margin-bottom: 3px;
    margin-top: 3px;
    transition: 0.3s ease;
}
