.title
{
  text-align: center ;

}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.ChoiceSelectorIndicator{
  display: inline-block;
  font-size: 20px;
  width: 50px;
  /* text-align: center; */
  margin-left: 10px;
}

.ChoiceSelectorRow
{
  
  text-align: center;
  height:40px;
  width:13%;
  font-size: 16px;
  margin:5px;
  padding:10px;
  margin-left:10px;
}
.Input{
  /* border:2px solid red; */
  height:15px;
  width:11.2%;
}
.ChoiceSelectorRow option
{
  padding:5px;
}