.title
{
  text-align: center ;

}
.choiceSelectorContainer{
  display: inline-block;
}

.half-container
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}


.ChoiceSelectorRow
{
  
  text-align: center;
  height:40px;
  width:90%;
  font-size: 16px;
  margin:5px;
  padding:10px;
  margin-left:10px;
}
.Input{
  /* border:2px solid red; */
  height:15px;
  width:81.2%;
}
.ChoiceSelectorRow option
{
  padding:5px;
}


